/*Variables*/
/*Estilos*/
* {
  margin: 0;
  padding: 0; }

.body {
  font-size: 62.5%;
  height: 80vh;
  background-color: #f0ac7e; }

.col {
  padding: 0; }

/*Header*/
.header {
  width: 100vw;
  height: auto;
  background-color: #f0ac7e;
  font-family: Outfit, sans-serif; }
  .header__title {
    color: rgba(33, 99, 165, 0.856); }
  .header__subtitle {
    color: #278a91;
    font-size: 1.5rem; }

/*fin Header*/
/*Hero*/
.jumbotron {
  color: white;
  background-image: url("https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c");
  background-color: #f0ac7e;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 40vh; }

/*fin Hero*/
/*Card - Main*/
main {
  background-color: #f0ac7e; }

.card {
  background-color: #9ffdfd; }
  .card__nombre {
    color: rgba(33, 99, 165, 0.856); }
  .card__descripcion {
    color: #278a91; }

/*fin Card-Main*/
/*footer*/
.footer {
  background-color: #f0ac7e; }
  .footer__element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .footer__element p {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #278a91;
      margin: 0; }
    .footer__element a {
      text-decoration: none;
      color: #278a91; }

/*fin footer*/
