/*Variables*/
$font-general:Outfit,sans-serif;
$color-primary:rgba(33, 99, 165, 0.856);
$color-secondary:rgb(39, 138, 145);
$color-back:rgb(240, 172, 126);
$color-back-card:rgb(159, 253, 253);
$font-size-p:1.5rem;
/*Estilos*/
*{
    margin: 0;
    padding: 0;
}
.body{
    font-size: 62.5%;
    height: 80vh;
    background-color: $color-back;
}
.col{
    padding:0;
}
/*Header*/
.header{
    width: 100vw;
    height: auto;
    background-color: $color-back;
    font-family: $font-general;

    &__title{
        color:$color-primary;
    }
    &__subtitle{
        color:$color-secondary;
        font-size:$font-size-p;
    }
}
/*fin Header*/
/*Hero*/
.jumbotron {
    color: white;
    background-image: url("https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c");
    background-color: $color-back;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
}
/*fin Hero*/
/*Card - Main*/
main{
    background-color: $color-back;
}
.card{
    background-color:$color-back-card; 
    &__nombre{
        color: $color-primary;
    }
    &__descripcion{
        color:$color-secondary;
    }
}
/*fin Card-Main*/
/*footer*/
.footer{
    background-color: $color-back;

    &__element{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        p{
            display: flex;
            flex-direction: row;
            align-items: center;
            color: $color-secondary;
            margin:0;
        }
        a{
            text-decoration: none;
            color: $color-secondary;
        }
    }

}
/*fin footer*/
